<div class="modal-header py-2">
  <h5 class="modal-title" id="modal-basic-title">
    <fa-icon [icon]="getIconType(task.type)" [ngClass]="'task-icon-' + task.type"></fa-icon>
    {{ task.ready ? 'Edit Tak' : 'New Task' }}
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close.emit()"></button>
</div>
<div class="modal-body" [ngClass]="'task-type-'+task.type">
  <div class="row">
    <div class="col-md-8">
      <b>Name:</b>
      <input type="text" name="name" class="form-control form-control-sm" [(ngModel)]="task.title" required />
    </div>
    <div class="col-md-4">
      <b>Type</b>
      <select class="form-control form-control-sm" [(ngModel)]="task.type">
        <option [value]="enumTaskType.task">Task</option>
        <option [value]="enumTaskType.bug">Bug</option>
      </select>
    </div>
  </div>

  <b>Description:</b>
  <textarea name="description" class="form-control form-control-sm" [(ngModel)]="task.description"></textarea>

  <b class="mt-1">CheckList</b><br />
  @if (hasSubTasks() && task.ready) {
    <div class="progress mb-2">
      <div class="progress-bar" role="progressbar" [style.width.%]="getCheckedPercentage()" aria-valuenow="getCheckedPercentage()" aria-valuemin="0" aria-valuemax="100">
        {{ getCheckedPercentage() | number: '1.0-2' }}%
      </div>
    </div>
  }
  @for(sub of task.subTasks; track $index; let i = $index) {
    <div class="d-flex my-1">
      @if (task.ready) {
        <div class="form-check">
          <input [id]="'check-sub-task' + i" class="form-check-input" type="checkbox" [(ngModel)]="sub.checked" />
          <label [for]="'check-sub-task' + i" class="form-check-label"></label>
        </div>
      }
      <input type="text" [(ngModel)]="sub.title" class="form-control form-control-sm w-auto" />
      <button class="btn btn-sm btn-danger ms-2" (click)="removeSubTask(i)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  }
  <button class="btn btn-sm btn-primary mt-2" (click)="addSubTask()">
    <fa-icon [icon]="faPlus"></fa-icon> Add item
  </button>
</div>
<div class="modal-footer">
  @if (task.ready) {
    <button class="btn btn-outline-danger" (click)="removeTaksById()">
      <fa-icon [icon]="faTrash"></fa-icon> Remove
    </button>
  }
  <button type="submit" class="btn btn-outline-secondary" (click)="submitForm()">
    <fa-icon [icon]="faSave"></fa-icon> Save
  </button>
</div>
