<div class="board-wrapper">
  <div class="board-columns" cdkDropListGroup>
    @for (column of columns; track $index; let index = $index) {
      <div class="board-column" >
        <div class="column-title">{{column.name}}</div>

        <div class="tasks-container"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="getTasks(index)"
            (cdkDropListDropped)="drop($event, index)">
            @if (index == 0) {
              <button class="btn btn-sm btn-outline-secondary btn-block mb-2 w-100" (click)="newTask.emit()">
                <fa-icon [icon]="faPlus"></fa-icon> Add Task
              </button>
            }
            @for(task of getTasks(index); track $index; let ti = $index) {
              @if (task.ready) {
                <div class="task" cdkDrag [cdkDragData]="task">
                  <b class="task-title" (click)="openTask.emit(task)">
                    <fa-icon [icon]="getIconType(task.type)" [ngClass]="'task-icon-' + task.type"></fa-icon>
                    {{task.title}}
                  </b><br />
                  <span class="d-block">{{task.description}}</span>
                  @if (task.subTasks.length > 0) {
                    <b class="d-inline text-warning">
                      <fa-icon [icon]="faPenToSquare" /> {{ getCheckedSubTaksLength(task.subTasks) }} / {{task.subTasks.length}}
                    </b>
                  }
                </div>
              }
            }
        </div>
      </div>
    }
  </div>
</div>
