<div class="root">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h6 class="app-name has-gradient-text" href="#">Kanban</h6>
  </nav>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{board.name}}</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        @for (column of board.columns; track $index) {
          <div class="board-column" >
            <div class="column-title">{{column.name}}</div>

            <div class="tasks-container"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="column.tasks"
                (cdkDropListDropped)="drop($event)">
                @for(task of column.tasks; track $index) {
                  <div class="task" cdkDrag>
                    {{task.title}}
                  </div>
                }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
