<div class="root">
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-kanban">
    <h6 class="app-name" href="#">
      <fa-icon [icon]="faCoffee" class="fa-xs"></fa-icon> Kanban
    </h6>
  </nav>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{board.name}}  </p>
      <button class="btn btn-sm color-primary" (click)="open(editBoard)">
        <fa-icon [icon]="faPencil"></fa-icon>
      </button>
    </div>

    <app-kanban-view [columns]="board.columns"
            [tasks]="tasks"
            (newTask)="newTaskModal(newTask)"
            (openTask)="openTaskModal(newTask, $event)">
    </app-kanban-view>
  </div>
</div>

<ng-template #editBoard let-modal>
  <app-edit-board [board]="board" (close)="modal.dismiss('Cross click')" />
</ng-template>

<ng-template #newTask let-modal>
  <app-add-task [task]="selectedTask" (close)="modal.dismiss('Cross click')" />
</ng-template>
